//colors
$font-color-pink : #F16D7F;
$font-color-dark : #222;
$font-color-grey : #9F9F9F;
$font-color-dark-grey : #5D5D5D;
$color-button-text : #F26376;
$colot-fill-top : #F1E4E6;

//Font sizes
$font-sm: 0.875rem; //14px
$font-md: 1rem; //16
$font-lg: 1.5rem; // 24
$font-xl : 1.875rem; //30
$font-2xl: 2rem; //32
$font-3xl: 3rem; //48