.button {
    width: 22.1rem;
    height: 4.8rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    color: $color-button-text;
    font-size: $font-md;
    border: 2px solid;
    border-color: $color-button-text;
    padding: 1rem;
  }
  