.top-brand {
  @include flex();
  justify-content: space-between;
  width: 100vw;
  max-height: 76.4rem;
  background-color: $colot-fill-top;
}

.top__header {
  @include flex();
  margin-right: 4rem;
}

.rect {
  background-color: $font-color-pink;
  width: 1.2rem;
  height: 9.2rem;
  margin-right: 1rem;
}

.top__header-text {
  > h1 {
    font-size: $font-3xl;
    font-weight: 900;
    margin: 0;
  }

  > h2 {
    font-size: $font-2xl;
    margin: 0;
    font-weight: 700;
    > span {
      color: $font-color-pink;
    }
  }
}

.main__top {
  @include flex();
  flex-direction: column;
  width: 100vw;
  margin-top: 6.5rem;

  .main__top-top {
    @include flex();
    gap: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
    font-size: $font-md;
    font-weight: 400;
    text-align: center;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }

    .pics {
      max-width: calc((100% - #{$gutter-horizontal}) / 3);
      padding: 9rem;

      > span {
        color: $font-color-pink;
        font-size: $font-lg;
      }
    }

    .pic1 {
      background-image: url("../../img/si1.jpg");
    }

    .pic2 {
      background-image: url("../../img/si2.jpg");
    }

    .pic3 {
      background-image: url("../../img/si3.jpg");
    }
  }

  .main__top-bottom {
    width: 114rem;
    height: 18rem;
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 3rem;
    color: white;
    font-size: $font-md;
    font-weight: 400;
    text-align: center;
    padding: 7rem;
    background-image: url("../../img/sibig.jpg");

    > span {
      color: $font-color-pink;
      font-size: $font-lg;
    }
  }
}

.items {
  margin-top: 8rem;
  @include flex();
  flex-direction: column;

  text-align: center;
  > h1 {
    font-size: $font-xl;
    margin: 6px;
  }
  > p {
    font-size: $font-sm;
    color: $font-color-grey;
  }
}

.cards {
  margin-left: 10%;
  margin-right: 10%;
  @include flex();
  flex-wrap: wrap;
  gap: 3rem;
  text-align: left;

  .card {
    width: 36rem;

    > h2 {
      font-size: $font-sm;
      font-weight: 400;
    }

    > p {
      font-size: $font-sm;
      font-weight: 300;
      color: $font-color-dark-grey;

      > span {
        color: $font-color-pink;
        font-size: $font-md;
        font-weight: 400;
      }
    }
  }
}
