.header {
    width: 100vw;
    height: 7.5rem;
    background-color: $font-color-dark;
    @include flex();
    justify-content: space-between;
  
    &__left {
      margin-left: 10%;
      @include flex();
  
      img {
        margin-right: 2rem;
      }

      .search {
        width: 2.6rem;
        height: 2.6rem;
      }

      .cart {
        width: 2.6rem;
        height: 2.6rem;
      }

      .menu {
        width: 2.6rem;
        height: 2.6rem;
      }

      .acc {
        width: 2.6rem;
        height: 2.6rem;
      }
    }
  
    &__right {
      margin-right: 10%;
      @include flex();
  
      svg {
        margin-right: 2rem;
      }
    }
  }