//colors
$font-color-pink : #F16D7F;
$font-color-dark : #222;
$font-color-grey : #9F9F9F;
$font-color-dark-grey : #5D5D5D;
$color-button-text : #F26376;
$colot-fill-top : #F1E4E6;

//Font sizes
$font-sm: 1.4rem; //14px
$font-md: 1.6rem; //16
$font-lg: 2.4rem; // 24
$font-xl : 3rem; //30
$font-2xl: 3.2rem; //32
$font-2xl-tab: 4.4rem;
$font-3xl: 4.8rem; //48

// pics size 
$gutter-horizontal: 2rem;
$gutter-width-desktop: 36rem;
$gutter-width-tab: 23.2rem;